{% extends "network/layout.html" %} {% block body %}
<h2>Welcome to Timers App!</h2>
{% if user.is_authenticated %}
{% if not timers %}
<p>You don't have any timers created yet...</p>
<p> <a href="{% url 'create_new_timer' %}" class="btn btn-success">Create One!</a>
</p>
{% else %}
<p>Select one of your timers below and start working out!</p>
<div class="card m-auto" style="width: 18rem;">
    <div class="card-header" style="background-color: #A8DADC;">
        Your timers:
    </div>
    <ul class="list-group list-group-flush"></ul>
    {% for timer in timers %}

    <li class="list-group-item">
        <a class="btn btn-info" href="/timer/{{timer.id}}">{{timer.title}}</a>
    </li>


    {%endfor%}
    </ul>
</div>
{%endif%}

{% else %}
<h4>
    <p>
        <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'register' %}">Register</a> to start using!
</h4>
</p>
{% endif %}
<div id="top"></div>

{% endblock %}