{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create a new listing:</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="Listing Title" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="description" placeholder="Listing Description" name="description" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" id="bid" name="bid" placeholder="Starting Bid">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="url" placeholder="Image Url">
        </div>
        <input class="btn btn-primary" type="submit" value="List It!">
    </form>
{% endblock %}