{% extends "auctions/layout.html" %}

{% block body %}
<h2>Watchlist</h2>
<div class="container">
    <div class="row">
        {% for listing in listings %}
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card p-2" style="width: 18rem;">
                <img class="card-img-top" style="padding: 10px;" src="{{ listing.image_url }}" alt="No image available">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    {% if listing.current_bid is None %}
                    <strong>Price: $</strong>{{listing.starting_bid}}
                    {% else %}
                    <strong>Price: $</strong>{{ listing.current_bid }}
                    {% endif %}

                    <br>
                    <strong>Created By: </strong>{{listing.listed_by}}
                    <br>
                    <strong>Created At: </strong>{{listing.date_listed}}
                    <br>
                    <a href="/listing/{{ listing.id }}" class="btn btn-primary">Click to Bid</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}